/*html {
  background: url(/photo-1474164674373-b75314cfa7b8.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.bucket {
  width: 300px;
}
