<h1>New Robot</h1>

<form action="/robots" method="post">
  <p>Enter Robot Specs:</p>
  <input type="text" name="robot[name]" placeholder="name"><br/>
  <input type="text" name="robot[city]" placeholder="city"><br/>
  <input type="text" name="robot[state]" placeholder="state"><br/>
  <input type="text" name="robot[department]" placeholder="department"><br/>
  <input type="submit"/>
</form>
