<h1>New Robot</h1>

<form action="/tasks" method="post">
  <p>Enter a new task:</p>
  <input type="text" name="robot[name]"><br/>
  <input type="text" name="robot[city]"><br/>
  <input type="text" name="robot[state]"><br/>
  <input type="text" name="robot[department]"><br/>
  <input type="submit"/>
</form>
